@using Cropper.Blazor.Models;

<div class="img-container">
    <CropperComponent Class="big-img" Options="cropperOptions"
                      Src="images/dolphin.jpg" />
</div>

@code {
    private Options cropperOptions = new Options
    {
        AspectRatio = (decimal)16 / 9,
        ViewMode = ViewMode.Vm3
    };
}

<style>
    .big-img {
        max-height: 400px;
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }

    .img-container {
        max-height: 400px;
        max-width: 800px;
    }
</style>
