@using Cropper.Blazor.Components

<div class="img-container">
    <CropperComponent Class="cropper-example" Src="cropperblazor.png" Options="Options" />
</div>
<div @ref="FirstElementReference" class="img-example-preview"></div>
<div @ref="SecondElementReference" class="img-example-preview"></div>

@code {
    private Blazor.Models.Options Options = new();
    private ElementReference FirstElementReference;
    private ElementReference SecondElementReference;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Options.Preview = new ElementReference[]
            {
                FirstElementReference,
                SecondElementReference
            };
        }
    }
}
