<MudCard Class="mud-height-full"> 
    <MudCardHeader Class="border-solid border-b mud-border-lines-default">
        <CardHeaderContent>
            <div class="d-flex flex-column gap-2">
                <MudText Typo="Typo.h5">Aspect Ratio Settings</MudText>
                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true">
                    This option work's only for <b>FREE</b> aspect ratio mode!
                </MudAlert>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="mud-height-full pt-0">
        <MudNumericField @bind-Value="MinAspectRatio" Label="Min aspect ratio"
                         Disabled="!IsFreeAspectRatioEnabled"
                         Min="0" Max="MaxAspectRatio">
        </MudNumericField>
        <MudNumericField @bind-Value="MaxAspectRatio" Label="Max aspect ratio"
                         Disabled="!IsFreeAspectRatioEnabled"
                         Min="MinAspectRatio ?? 0">
        </MudNumericField>
        <div class="d-flex gap-x-6 align-end">
            <MudChip Variant="Variant.Outlined" Color="Color.Primary" Class="flex-1 ma-0 mt-4">
                Current aspect ratio:
            </MudChip>
            <MudNumericField @bind-Value="AspectRatio" Format="N4" Variant="Variant.Text"
                             HideSpinButtons="true" ReadOnly="true" Class="flex-1" />
        </div>
    </MudCardContent>
</MudCard>
