<MudCard Class="d-flex justify-space-between flex-column mb-6 mud-height-full">
    <MudCardHeader Class="border-solid border-b mud-border-lines-default">
        <CardHeaderContent>
            <div class="d-flex flex-column gap-2">
                <MudText Typo="Typo.h5">Dimensions Settings</MudText>
                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true">
                    <b>This setting may not work with a specific aspect ratio.</b>
                    It is recommended to use a <b>FREE</b> aspect ratio for this
                    option or calculate the valid values yourself.
                </MudAlert>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="mud-height-full pt-0">
        <div class="d-flex gap-x-6 flex-wrap flex-sm-nowrap">
            <MudNumericField @bind-Value="MinimumHeight" Label="Minimum Height" Min="0" Max="MaximumHeight"
                             Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary">
            </MudNumericField>
            <MudNumericField @bind-Value="MinimumWidth" Label="Minimum Width" Min="0" Max="MaximumWidth"
                             Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary">
            </MudNumericField>
        </div>
        <div class="d-flex gap-x-6 flex-wrap flex-sm-nowrap">
            <MudNumericField @bind-Value="MaximumHeight" Label="Maximum Height" Min="MinimumHeight ?? 0"
                             Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary">
            </MudNumericField>
            <MudNumericField @bind-Value="MaximumWidth" Label="Maximum Width" Min="MinimumWidth ?? 0"
                             Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary">
            </MudNumericField>
        </div>
    </MudCardContent>
</MudCard>
