<MudCard Class="mud-height-full">
    <MudCardHeader Class="border-solid border-b mud-border-lines-default">
        <CardHeaderContent>
            <div class="d-flex flex-column gap-2">
                <MudText Typo="Typo.h5">Zoom Ratio Settings</MudText>
                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true">
                    Make sure that the <b>current Zoom Ratio</b> value is less than the minimum value,
                    otherwise this setting may not work correctly.
                </MudAlert>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="mud-height-full pt-0">
        <div class="d-flex gap-x-6 flex-wrap flex-sm-nowrap">
            <MudNumericField @bind-Value="MinZoomRatio" Label="Min zoom ratio"
                             Min="0" Max="MaxZoomRatio">
        </MudNumericField>
            <MudNumericField @bind-Value="MaxZoomRatio" Label="Max zoom ratio"
                         Min="MinZoomRatio ?? 0">
        </MudNumericField>
        </div>
        <div class="d-flex align-end gap-x-6">
            <MudChip Variant="Variant.Outlined" Color="Color.Primary" Class="flex-1 ma-0 mt-4">
                Zoom event old ratio:
            </MudChip>
            <MudNumericField @bind-Value="OldRatio" Format="N2" Variant="Variant.Text"
                             HideSpinButtons="true" ReadOnly="true" Class="flex-1" />
        </div>
        <div class="d-flex align-end gap-x-6">
            <MudChip Variant="Variant.Outlined" Color="Color.Primary" Class="flex-1 ma-0 mt-4">
                Zoom event ratio:
            </MudChip>
            <MudNumericField @bind-Value="Ratio" Format="N2" Variant="Variant.Text"
                             HideSpinButtons="true" ReadOnly="true" Class="flex-1" />
        </div>
    </MudCardContent>
</MudCard>
