<div class="img-container">
    <CropperComponent Src="cropperblazor.png" Options="new Blazor.Models.Options()" />
</div>

<style>
    .img-container {
        max-height: 300px;
        width: 100%;
    }
</style>
