@page "/cropper"
<h3>Cropper</h3>
<div class="img-container">
    <Cropper.Blazor.Components.CropperComponent
        Src="https://fengyuanchen.github.io/cropperjs/images/picture.jpg"
        Options="options">    
    </Cropper.Blazor.Components.CropperComponent>
</div>
<div>
    <div class="">
        <div class="img-preview preview-lg"></div>
        <div class="img-preview preview-md"></div>
        <div class="img-preview preview-sm"></div>
        <div class="img-preview preview-xs"></div>
    </div>
</div>