@page "/demo"
@using Cropper.Blazor.Components

<MudContainer Class="mt-5 px-4">
    <MudGrid Class="mt-2">
        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudCard Elevation="2">
                <MudCardContent>
                    <MudGrid>
                        <MudItem md="9">
                            <div class="img-container">
                                <CropperComponent 
                                    Class="cropper-demo"
                                    OnCropStartEvent="OnCropStartEvent"
                                    OnCropEndEvent="OnCropEndEvent"
                                    OnCropEvent="OnCropEvent"
                                    OnZoomEvent="OnZoomEvent"
                                    OnCropMoveEvent="OnCropMoveEvent"
                                    OnReadyEvent="OnCropReadyEvent"
                                    OnLoadImageEvent="OnLoadImageEvent"
                                    Src="https://fengyuanchen.github.io/cropperjs/images/picture.jpg"
                                    Options="options">

                                </CropperComponent>
                            </div>
                        </MudItem>

                        <MudItem md="3">
                            <div class="docs-preview clearfix">
                                <div class="img-preview preview-lg"></div>
                                <div class="img-preview preview-md"></div>
                                <div class="img-preview preview-sm"></div>
                                <div class="img-preview preview-xs"></div>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
