@page "/"
@using Cropper.Blazor.Client.Components

<MudContainer Class="mt-5 px-4">
    <MudGrid Class="mt-2" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudImage Src="cropperblazor.png" Fluid="true" Width="256" Height="256" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Typo="Typo.h3" Align="Align.Center" Class="pa-0 ma-0 text-gradient">Cropper.Blazor</MudText>
        </MudItem>


        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudDivider DividerType="DividerType.FullWidth" Class="my-6" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Align="Align.Center" Class="pa-0 ma-0">
                <b>Cropper.Blazor</b>  is a component element that wraps around <a href="https://github.com/fengyuanchen/cropperjs"><b>Cropper.js</b></a>
            </MudText>
        </MudItem>

        <p align="center">
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/ci.yml" target="_blank">
                <img src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/ci.yml/badge.svg?event=push" alt="Build and run test" />
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/cd.yml" target="_blank">
                <img src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/cd.yml/badge.svg?event=push" alt="Deploy to GitHub Pages">
            </a>
            <a style="text-decoration:none" href="https://codecov.io/github/CropperBlazor/Cropper.Blazor" target="_blank">
                <img src="https://codecov.io/github/CropperBlazor/Cropper.Blazor/branch/dev/graph/badge.svg?token=39M66DO85T" alt="Code coverage" />
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/blob/dev/LICENSE" target="_blank">
                <img src="https://img.shields.io/github/license/CropperBlazor/Cropper.Blazor?color=ff5c9b" alt="License">
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor" target="_blank">
                <img src="https://img.shields.io/github/last-commit/CropperBlazor/Cropper.Blazor?color=009DEA" alt="Last commit" />
            </a>
        </p>

    </MudGrid>
    <MudGrid Class="mt-2" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudText Typo="Typo.h3">
                <b>Quick Installation Guide</b>
            </MudText>

            <MudText Typo="Typo.h5">
                <b>Install the package</b>
            </MudText>
            <MudText Class="mb-5">Find the package through NuGet Package Manager or install it with following command:</MudText>
            <SectionContent Code="InstallationManualPackageExample" />

            <MudText Typo="Typo.h5">
                <b>Add Imports</b>
            </MudText>
            <MudText Class="mb-5">After the package is added, you need to add the following in your <CodeInline>_Imports.razor</CodeInline></MudText>
            <SectionContent Code="InstallationManualImportsExample" />

            <MudText Typo="Typo.h5">
                <b>Add font and style references</b>
            </MudText>
            <MudText Class="mb-5">Add the following to your HTML head section, it's either <CodeInline>index.html</CodeInline> or <CodeInline>_Layout.cshtml</CodeInline>/<CodeInline>_Host.cshtml</CodeInline> depending on whether you're running WebAssembly or Server.</MudText>
            <SectionContent Code="InstallationManualCssFontsExample"/>

            <MudText Typo="Typo.h5">
                <b>Add script reference</b>
            </MudText>
            <MudText Class="mb-5">In the same file but located in the end of it add the MudBlazor js file, it should be in the same location as the default blazor script.</MudText>
            <SectionContent Code="InstallScriptManual" />


        </MudItem>
    </MudGrid>
</MudContainer>
