@page "/"

<MudContainer Class="mt-5 px-4">
    <MudGrid Class="mt-2" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudImage Src="cropperblazor.png" Fluid="true" Width="256" Height="256" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Typo="Typo.h2" Align="Align.Center" Class="pa-0 ma-0 text-gradient">Cropper.Blazor</MudText>
        </MudItem>


        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudDivider DividerType="DividerType.FullWidth" Class="my-6" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Align="Align.Center" Class="pa-0 ma-0">
                <b>Cropper.Blazor</b>  is a component element that wraps around <a href="https://github.com/fengyuanchen/cropperjs"><b>Cropper.js</b></a>
            </MudText>
        </MudItem>

        <p align="center">
            <a style="text-decoration:none" href="https://github.com/DurkaTechnologies/Cropper.Blazor/actions/workflows/ci.yml" target="_blank">
                <img src="https://github.com/DurkaTechnologies/Cropper.Blazor/actions/workflows/ci.yml/badge.svg?event=push" alt="Build and run test" />
            </a>
            <a style="text-decoration:none" href="https://github.com/DurkaTechnologies/Cropper.Blazor/actions/workflows/cd.yml" target="_blank">
                <img src="https://github.com/DurkaTechnologies/Cropper.Blazor/actions/workflows/cd.yml/badge.svg?event=push" alt="Deploy to GitHub Pages">
            </a>
            <a style="text-decoration:none" href="https://codecov.io/github/DurkaTechnologies/Cropper.Blazor" target="_blank">
                <img src="https://codecov.io/github/DurkaTechnologies/Cropper.Blazor/branch/dev/graph/badge.svg?token=39M66DO85T" alt="Code coverage" />
            </a>
            <a style="text-decoration:none" href="https://github.com/DurkaTechnologies/Cropper.Blazor/blob/dev/LICENSE" target="_blank">
                <img src="https://img.shields.io/github/license/DurkaTechnologies/Cropper.Blazor?color=ff5c9b" alt="License">
            </a>
            <a style="text-decoration:none" href="https://github.com/DurkaTechnologies/Cropper.Blazor" target="_blank">
                <img src="https://img.shields.io/github/last-commit/DurkaTechnologies/Cropper.Blazor?color=009DEA" alt="Last commit" />
            </a>
        </p>

    </MudGrid>
</MudContainer>
