@inherits LayoutComponentBase

<PageTitle>Cropper.MVC.With.Blazor.Server.Net7</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
