<MudMainContent Class="mudblazor-main-content">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div id="docspage" class="docs-page">
            <CascadingValue Value="this" IsFixed>
                @ChildContent
            </CascadingValue>
        </div>
    </MudContainer>
</MudMainContent>
