<MudMainContent Class="mudblazor-main-content">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div id="docspage" class="docs-page">
            <CascadingValue Value="this" IsFixed>
                @ChildContent
            </CascadingValue>
        </div>
    </MudContainer>

    <MudDrawer Class="docs-page-content-navigation-drawer" @bind-Open="_contentDrawerOpen"
               Breakpoint="Breakpoint.Lg" Anchor="Anchor.End" ClipMode="DrawerClipMode.Always"
               Elevation="0" Color="Color.Transparent">
        <MudPageContentNavigation SectionClassSelector="docs-section-header" @ref="_contentNavigation" ActivateFirstSectionAsDefault="true" />
    </MudDrawer>
</MudMainContent>
