<div class="@SourceClassName">
    <div class="docs-section-source-container">
        @CodeComponent
    </div>
    <MudIconButton Icon="@Icons.Material.Outlined.FileCopy"
                   Size="Size.Medium"
                   Color="Color.Secondary"
                   Class="copy-code-button"
    @onclick="CopyTextToClipboard" />
</div>

@code {
    [Parameter]
    public string SourceClassName { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment CodeComponent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> CopyTextToClipboard { get; set; }
}
