<div class="img-container">
    <CropperComponent Class="big-img"
                      Src="@Src"
                      OnLoadImageEvent="OnLoadImageEvent"
                      ErrorLoadImageSrc="@_errorLoadImageSrc"
                      ErrorLoadImageClass="cropper-error-load center"
                      IsAvailableInitCropper="@IsAvailableInitCropper"
                      IsErrorLoadImage="@IsErrorLoadImage"
                      OnErrorLoadImageEvent="OnErrorLoadImageEvent"
                      @ref="CropperComponent"
                      Options="new Blazor.Models.Options()" />
</div>

<InputFile id="imageReplaceInput" OnChange="ReplaceImageAsync" accept="image/*" />

@* Make sure the size of the image fits perfectly into the container *@
<style>
    .big-img {
        max-height: 400px;
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }

    .img-container {
        max-height: 400px;
        width: 100%;
    }

    /* These styles are just needed for a nice button and don't related with cropper component */
    #imageReplaceInput {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .cropper-error-load {
        max-height: inherit;
        max-width: 100%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

@code {
    private readonly string _errorLoadImageSrc = "not-found-image.jpg";
    private bool IsErrorLoadImage { get; set; } = false;
    private bool IsAvailableInitCropper { get; set; } = true;
    private string Src = "images/Landscape-Color.jpg";
    private string OldSrc = string.Empty;
    private CropperComponent? CropperComponent = null!;

    public async Task ReplaceImageAsync(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        IBrowserFile imageFile = inputFileChangeEventArgs.File;

        if (imageFile != null)
        {
            OldSrc = Src;
            string newSrc = await CropperComponent!.GetImageUsingStreamingAsync(imageFile, imageFile.Size);

            /* These conditions are required for error handling. */
            if (IsErrorLoadImage)
            {
                IsAvailableInitCropper = true;
                IsErrorLoadImage = false;
            }
            else
            {
                IsAvailableInitCropper = false;
            }

            await Task.WhenAll(
                CropperComponent!.ReplaceAsync(newSrc, true).AsTask()
                // For certain platforms based on WebView in MAUI, Windows Forms and WPF Blazor Hybrids, the 'RevokeObjectUrlAsync(OldSrc)' method does not work correctly in this place.
                // We recommend clearing redundant Blob resources (old src) in the 'OnLoadImageEvent' event of cropper component or use equivalent "Rebuild cropper" functionality instead of replace functionality with 'hasSameSize = false' argument.
                // Note: from version 1.3.2 of the Cropper.Blazor NuGet package and 'IsAvailableInitCropper = false' triggers the 'OnLoadImageEvent' event after a successful image replacement. Previously it only worked with 'IsAvailableInitCropper = true'     
                //, cropperComponent!.RevokeObjectUrlAsync(OldSrc).AsTask()
                )
                    .ContinueWith(x =>
                    {
                        Src = newSrc;
                    });
        }
    }

    public async void OnLoadImageEvent()
    {
        if (!string.IsNullOrWhiteSpace(OldSrc))
        {
            await CropperComponent!.RevokeObjectUrlAsync(OldSrc);
        }
    }

    public void OnErrorLoadImageEvent(ErrorEventArgs errorEventArgs)
    {
        IsErrorLoadImage = true;
        Destroy();
        StateHasChanged();
    }

    private void Destroy()
    {
        CropperComponent?.Destroy();
        CropperComponent?.RevokeObjectUrlAsync(Src);
    }
}
