@mixin responsive-box($height) {
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: $height;
    }
}

.hazard-background {
    background-image: repeating-linear-gradient(-55deg, transparent, transparent 20px, rgba(182, 182, 182, 0.3) 20px, rgba(182, 182, 182, 0.3) 40px );
}

.no-select {
    user-select: none;
}
