@using Cropper.Blazor.Components

<div class="img-container">
    <CropperComponent Class="cropper-example"
                      Src="cropperblazor.png"
                      Options="Options" />
</div>
<div @ref="ElementReference" class="img-example-preview" />

<style>
    .cropper-example {
        max-height: 300px;
        width: 100%;
    }

    .img-example-preview {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

        .img-example-preview > ::deep img {
            max-width: 100%;
        }
</style>

@code {
    private Cropper.Blazor.Models.Options Options = new();
    private ElementReference ElementReference;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Options.Preview = new ElementReference[]
            {
                ElementReference
            };
        }
    }
}
