name: Build and run tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
    - fix/*
    - feature/*
  pull_request:
    branches:
    - fix/*
    - feature/*

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
 
      # sets up .NET Core SDK 7, 6
    - name: Setup .NET 7, 6
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
            6.0.x
            7.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      working-directory: src/Cropper.Blazor
      
    - name: DotNet Build
      run: dotnet build --no-restore
      working-directory: src/Cropper.Blazor
      
    - name: Test
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:ExcludeByAttribute='ExcludeFromCodeCoverage' /p:SkipAutoProps=true /p:Exclude="[*]Cropper.Blazor.Testing.*"
      working-directory: src/Cropper.Blazor/Cropper.Blazor.UnitTests    
      
    - name: Coverage
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
      
    - name: Super-Linter
      uses: github/super-linter@v4.8.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OUTPUT_FOLDER: Reports
        OUTPUT_DETAILS: detailed
        ERROR_ON_MISSING_EXEC_BIT: true
        VALIDATE_ALL_CODEBASE: true
        VALIDATE_MARKDOWN: false
        VALIDATE_JAVASCRIPT_STANDARD: false
        LOG_LEVEL: WARN
        FILTER_REGEX_EXCLUDE: '(\W|^)(.*([.]min[.]css))($)|(\W|^)(.*([.]min[.]js))($)'
        JSCPD_CONFIG_FILE: '.jscpd.json'
        HTML_FILE_NAME: '.htmlhintrc'
        CSS_FILE_NAME: '.stylelintrc.json'
