name: Build, run tests, code linting

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
    - '**'
    - '!master'
    - '!dependabot/*/*/*/*/**'

jobs:
  code-quality-check:
    name: Check code quality
    uses: CropperBlazor/Cropper.Blazor/.github/workflows/build-test-template.yml@dev
    secrets: inherit

  code-linting:
    name: Code linting
    runs-on: ubuntu-latest
    needs: code-quality-check
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          
      - name: Super-Linter
        uses: super-linter/super-linter@v6.8.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OUTPUT_FOLDER: Reports
          OUTPUT_DETAILS: detailed
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_MARKDOWN: false
          VALIDATE_JAVASCRIPT_PRETTIER: false
          LOG_LEVEL: WARN
          FILTER_REGEX_EXCLUDE: '(\W|^)(.*([.]min[.]css))($)|(\W|^)(.*([.]min[.]js))($)'
          FILTER_REGEX_INCLUDE: /github/workspace/src/Cropper.Blazor/.*
          JSCPD_CONFIG_FILE: '.jscpd.json'
          HTML_FILE_NAME: '.htmlhintrc'
          CSS_FILE_NAME: '.stylelintrc.json'
